<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-1.3.xsd">

	<rabbit:connection-factory id="captain.rabbitmq.connectionFactory"
		host="localhost" username="admin" password="admin" port="5672"
		virtual-host="captain" publisher-confirms="true" publisher-returns="true" />

	<rabbit:admin id="captain.rabbitmq.connectionFactoryAdmin"
		connection-factory="captain.rabbitmq.connectionFactory" />

	<rabbit:fanout-exchange id="captain.rabbitmq.fanout-exchange.test"
		name="captain.fanout.textExchange">
	</rabbit:fanout-exchange>

	<rabbit:template id="captain.rabbitmq.template"
		connection-factory="captain.rabbitmq.connectionFactory" exchange="captain.fanout.textExchange"
		mandatory="true" return-callback="captain.defaultRabbitMqReturnCallback"
		confirm-callback="captain.defaultRabbitMqConfirmCallback" />

	<!-- sender -->
	<bean id="captain.defaultRabbitMQSender" class="com.future.tech.captain.mq.rabbitmq.MessageSenderRabbitMQImpl">
		<property name="rabbitTemplate" ref="captain.rabbitmq.template"></property>
	</bean>
</beans>
